.cinfo{
    width: 300px;
    color: indianred;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    

}
.head{
    margin-top: 60px;
    margin-left: 50px;
    color:coral;
}
.himg{
    margin-left: 400px;
    height: 250px;
    width: 250px;
    margin-bottom: 50px;
   
}