.plantCd{
    height: 400px;
    margin-top: 50px;
}
.sug{
    margin-left: 120px;
    margin-top: 50px;
    color: darkolivegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.plantImg{
height: 300px;
width: 500px;
}
.mainText{
  padding-top: 5px;
  
}