.cinfo-text{
    width: 300px;
    color: rgb(221, 10, 10);
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    

}
.line-head{
    margin-top: 60px;
    color:lightslategrey;
}
