.cinfo{
    width: 300px;
    color: indianred;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    

}
.line{
    margin-top: 60px;
    margin-left: 50px;
    color:lightslategrey;
}
